.ui-wrapper {
  width: 100%;
  height: 100vh;
  background: transparent;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
}

