#toggle_menu {
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2px;
        background-color: #333333;
        margin: 4.2px 0;
        transition: 0.4s ease;
    }
}

.change {
    .bar1 {
        transform: rotate(-45deg) translate(-2px, 6px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        transform: rotate(45deg) translate(-3px, -7px);
    }
}

#top_navbar {
    &.d-sm-block {
        @media (min-width: 576px) {
            display: flex !important;
            flex-direction: row !important;
            .nav-link {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }
        }
    }
}